<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>表单级联</title>
    <script src="../node_modules/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <select name="" id="" v-model="result">
            <option v-for="(v,k) in list" :value="k">{{k}}</option>
        </select>
        <select name="" id="">
            <option v-for="(v,k) in list[result]" :value="v">{{v}}</option>
        </select>

    </div>

    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                result: "",
                list: {
                    "ui": ["ps", "mac","wui"],
                    "web": ["vue", "html", "css", "js"]
                }
            }
        })
    </script>
</body>

</html>